<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Cavaleiro Express</title>
   </head>
   <body>
      <section class="header_container">
         <header class="header">
            <img src="{{ url_for('static', filename='imagens/logo_-_Copia_1.png') }}" alt="logo" />
         </header>
      </section>
      <div class="categorias_container">
         <ul id="categorias_list"></ul>
         <li>
            {% if departamento %}
                {% for dept in departamento %}
                    <!-- Use um link para redirecionar para a rota /topicos/<setor> -->
                    <a href="/topicos/{{ dept[0] }}"  id="departamentos">{{ dept[0] }}</a>
                {% endfor %}
            {% else %}
                <!-- Adicione uma mensagem caso não haja departamentos -->
                <div>Nenhum departamento encontrado.</div>
            {% endif %}
         </li>
      </div>

      <section class="buttons_container">
         <button class="btn1"><ion-icon name="home-outline"></ion-icon></button>
         <button class="btn2"><ion-icon name="bar-chart-outline"></ion-icon></button>
      </section>
         <script
         type="module"
         src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
         nomodule
         src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      ></script>
   </body>
</html>
