<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     <link rel="stylesheet" href="{{ url_for ('static', filename = 'styles.css')}}"/>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h2>Login</h2>
        </div>
        <form method = "POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember">
                <label for="remember">Remember me</label>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="login-footer">
            <a href="#">Forgot password?</a>
            <span>Don't have an account? <a href="#">Sign up</a></span>
        </div>
    </div>
 <script>
        // JavaScript/jQuery para exibir o modal de erro
        function showErrorModal(message) {
            var modal = document.getElementById("error-modal");
            var errorMessage = document.getElementById("error-message");
            errorMessage.textContent = message;
            modal.style.display = "block";
        }

        // Fechar o modal quando o usuário clicar no botão de fechar
        document.getElementsByClassName("close")[0].onclick = function() {
            var modal = document.getElementById("error-modal");
            modal.style.display = "none";
        }
    </script>
</body>
</html>
